*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
}


.pimg{
    width: 50%;
}
.pimg img{
    width: 100%;
    height: 300px;
}
.paragraph{
    width: 50%;
}
.navigation{
    width: 100%;
    display: block;
}
#header{
    display: none;
}
.navigation .desktop-nav{
    display: flex;
}


.navigation {
    position: sticky;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 44px;
    text-align: center;
    background: #bba6a2;
}
.navigation ul li{
    list-style: none;
    padding: 20px 0;
    margin-right: 25px;
}



.desktplogo.logo-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 60px;
}
.mm-navbar__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
    background-color: #d7c5c2;
    color: #fff !important;
}
.mm-btn--next:after, .mm-btn--prev:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(var(--mm-btn-rotate));
    -ms-transform: rotate(var(--mm-btn-rotate));
    transform: rotate(var(--mm-btn-rotate));
}
.mm-listitem{
    background: #968582;
    color: #fff !important;
    border-color: #fff !important;

}

.navigation .desktop-nav a{
    position: relative;
    
}
.navigation .desktop-nav a
{
    padding-bottom: 5px;
}
.navigation .desktop-nav a::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .5s ease;
}
.navigation .desktop-nav a.active::before,
.navigation .desktop-nav a:hover::before{
    width: 100%;
}
.hero-img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
@media (max-width: 600px) {
    #header {
        display: block;
        height: auto;
        padding: 10px;
    }

    #header a{
        padding-top: 25px;
    }
    .logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logo-img img{
        height: 50px;
    }
    .navigation{
        display: none;
    }
    
}
